<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="{{android.package}}">
    <uses-sdk android:minSdkVersion="{{android.minimum_sdk_version}}"
              android:targetSdkVersion="{{android.target_sdk_version}}"/>
    <application>
        {{#appsflyer.android_channel}}
        <meta-data android:name="CHANNEL" android:value="{{appsflyer.android_channel}}"/>
        {{/appsflyer.android_channel}}
        {{#appsflyer.android_af_store}}
        <meta-data android:name="AF_STORE" android:value="{{appsflyer.android_af_store}}"/>
        {{/appsflyer.android_af_store}}
    </application>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
</manifest>